#public net.minecraft.world.level.levelgen.SurfaceRules$Context
#public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule
#public net.minecraft.world.level.levelgen.SurfaceRules$StateRule
#public net.minecraft.world.level.levelgen.SurfaceRules$BlockRuleSource
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V # setFlammable
public net.minecraft.world.item.alchemy.PotionBrewing m_43513_(Lnet/minecraft/world/item/alchemy/Potion;Lnet/minecraft/world/item/Item;Lnet/minecraft/world/item/alchemy/Potion;)V # addMix
public net.minecraft.client.player.LocalPlayer f_108619_ # minecraft
public net.minecraft.client.multiplayer.MultiPlayerGameMode f_105195_ # destroyDelay
public net.minecraft.client.gui.Gui$HeartType