#public net.minecraft.world.level.levelgen.SurfaceRules$Context
#public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule
#public net.minecraft.world.level.levelgen.SurfaceRules$StateRule
#public net.minecraft.world.level.levelgen.SurfaceRules$BlockRuleSource
public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V # setFlammable